:root
{
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*
{
  box-sizing: border-box;
}

a
{
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover
{
  color: #535bf2;
}

body
{
  margin: 0;
  display: flex;
  place-items: center;
  /* min-width: 320px; */
  min-height: 100vh;
}

h1
{
  font-size: 3.2em;
  line-height: 1.1;
}

#app
{
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}

.logo
{
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}

.logo:hover
{
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.vanilla:hover
{
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card
{
  padding: 2em;
}

.read-the-docs
{
  color: #888;
}

button
{
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover
{
  border-color: #646cff;
}

button:focus,
button:focus-visible
{
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light)
{
  :root
  {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover
  {
    color: #747bff;
  }

  button
  {
    background-color: #f9f9f9;
  }
}

/* MY STYLES */

.container
{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

code
{
  display: block;
  white-space: pre-wrap;
  background-color: rgba(255, 255, 255, 0.3);
  background-color: white;
  color: black;
  overflow: auto;
  /* max-width: 90%; */
  /* padding-inline: 1rem; */
}

code::before
{
  content: "CSS";
  background-color: rgba(200, 200, 200, 1);
  /* width: 100%; */
  padding-left: 10px;
  display: block;
}

.example
{
  display: flex;
  gap: 2rem;
}

.details
{
  flex: 1;
}

.img-container
{
  width: 300px;
  height: 300px;
  position: relative;
}

.img-container:hover::before
{
  opacity: 0.2;
  transition: opacity 300ms ease-in-out;
}

.img-container::before
{
  position: absolute;
  content: '';
  inset: 0;
  background-repeat: no-repeat;
  background-size: contain;
  width: 300px;
  opacity: 0;
  background-image: url("https://images.unsplash.com/photo-1557765818-c725414650ef?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80");
}

img
{
  aspect-ratio: 3 / 4;
  height: 100%;
}

#img-area-1
{
  -webkit-mask-image: linear-gradient(black, transparent);
  mask-image: linear-gradient(black, transparent);
}

#img-area-2
{
  -webkit-mask-image: url('./public//m-transparent.png');
  mask-image: url('./public/m-transparent.png');
}

#img-area-3
{
  -webkit-mask-image: url('./public/splatter-1.png');
  mask-image: url('./public/splatter-1.png');
  -webkit-mask-size: cover;
  mask-size: cover;
}

#img-area-4
{
  -webkit-mask-image: url('./public/splatter-2.svg');
  mask-image: url('./public/splatter-2.svg');
  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-mask-position: center left;
  mask-position: center left;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}